*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.2em;
}
#comment-container{
    width: 300px;
    height: 500px;
    background-color: #8080802d;
    border-radius: 10px;
    padding: 10px 15px;
    position: relative;
}
#comment-area{
    height: 90%;
    overflow: auto;
}
#comment-area div{
    background-color: white;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}
#close{
    color: #808080af;
}
#close:hover{
    color: gray;
}
#comment-field{
    border: 1px solid #80808069;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 1em;
    font-family: sans-serif;
    resize: none;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    width: 90%;
    height: 40px;
}
#comment-field:focus{
    outline: none;
}
#submit-comment{
    position: absolute;
    bottom: 55px;
    right: 5px;
    display: none;
}